<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Address</th>
    <th scope="col">Date Of Birth</th>
    <th scope="col"></th>

  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr scope="row">
      <td><%= user.Name %></td>
      <td><%= user.email %></td>
      <td><%= user.Phone_number %></td>
      <td><%= user.address %></td>
      <td><%= user.dob %></td>
      <td><%= link_to 'Show', user, :class => "btn btn-warning" %>
        <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-warning"  %>
      <%if user.role !='admin' %>
        <%= link_to 'Destroy', user_path(:id => user.id), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-warning" %>
      <%end %>
      <%= link_to 'View Purchase History',purchase_history_byUser_path(:user => user), :class => "btn btn-info"   %>

    </tr>

  <% end %>

  </tbody>
</table>
<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-warning"  %>
