<h1>PurchaseHistory#byUser</h1>
<p>Find me in app/views/purchase_history/byUser.html.erb</p>
<table class="table table-dark">
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.name %></td>
      <td>
        <ul>
          <% order.cart_items.each do |item| %>

            <li><%= item.quantity %> x <%= Item.find(item.item_id).name %></li>
          <% end %>
        </ul>
      </td>
      <td><%=order.status %></td>
    </tr>
  <% end %>

  </table>
